<section>
    <a href="/dashboard" class="is-pulled-right"> Dashboard</a>
  <h2 class="title">Create Post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert  title here"/>
    </div>
    <div>
      <label for="post-text">Text:</label>
      <input class="textarea is-large" id="post-text" name="post-text" placeholder="insert text here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">Post</button>
  </form>
</section>

<script src="/js/add-post.js"></script>